/* The switch - the box around the slider */
.toggleWrapper {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 50px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-light);
    border: 4px solid var(--accent-dark);
    border-radius: 16px;
    transition: 0.4s;
    box-shadow: 2px 4px 0px var(--accent-dark);

    &:before {
      position: absolute;
      content: "";
      height: 30px;
      width: 30px;
      left: 6px;
      bottom: 6px;
      background-color: var(--paper-light);
      border-radius: 8px;
      box-shadow: 2px 4px 0px var(--accent-dark);
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: var(--accent-dark);
  }

  input:checked + .slider:before {
    transform: translateX(34px);
    background-color: var(--paper-light);
    box-shadow: 2px 4px 0px var(--accent);
  }

  input:focus + .slider {
  }
}
